# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# Temporary files
*.tmp
*.log

# Python environment files
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints/